@font-face {
  font-family: "agwera" ;  
  src: url( ./font/agwera.woff2);
}

@font-face {
    font-family: "satauri";
    src: url(./font/satauri.woff2);
}
body {
    background-color: #f3eee4;
    margin-left: 100px;
    margin-right: 370px;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    
}

.tve {
    color: #bb1450 ;
    margin-top: 5px;
    
}
 

b {
    font-family: "satauri";
    font-size: 30px;
    color: #1c2334;
}

p {
    font-family: "agwera";
    font-size: 16px;
    color: #1c2334;
   
}
h1 {
    font-family: "satauri";
    
    color: #1c2334;
    font-size:  40px;
}
  

.flex-conteiner {
    display:flex;
    
 }


 

 .card  {
     background-color: #e5bf55;
     border-radius: 10px;
     
     align-items: center;
     justify-content: center;
     margin-left: -70px;
     margin-right: -250px;
     

 }



    input {
    border-radius: 20px;
    size: 60vh;
    background-color: #e5bf55;
    width: 220px;
    height: 35px;
    font-weight: 100px;
    
 }




 
 span > input {
    background-color: #1c2334;
    color: #f3eee4;
    width: 150px;
    margin-bottom: 35px;
    
 }
 .card > center {
    margin-top: 50px;
   
 }
 
 h2 {
    font-family: "satauri";
    color: #1c2334;
    font-size: 35px;
    padding-left: 100px;
    padding-right: 100px;

 }

 h3 {

    font-family: "satauri";
    color: #1c2334;
    font-size: 15px;
    padding-left: 90px;
    padding-right: 90px;
 }


 .text1  {

    text-align: center;
    font-family: "satauri";
    margin-top: 50px;
    padding-bottom: 5px;
    
 }
 .text2 {
    text-align: center;
    font-family: "agwera";
    padding-bottom: 50px;
 }

 .text1 a {
    padding-left: 25px;
    font-size: 12px;

 }
 .text2 a {
    padding-left: 25px;
    font-size: 12px;
    
 }
 span {
    text-decoration: underline;
    
    
 }
  .card12 h1 {
    
    background-color:#1c2334;
    font-size: 12px;
    color: wheat;
    margin-top: -2.5px;

  }


  .card12  {
    margin-bottom: 10px;
    width: 50px;
    height: 100px;
    margin-left: 400px;
    margin-right: 500px;
    
   
   background-color: #1c2334;
  }
  .card12 img {

    width: 370px;
    height: 100px;
    background-color: #1c2334;
    
  }